{% extends "layouts/layout.twig" %}
	
{% block title %}  {% endblock %}
{% block username %}{{ username }} {% endblock %}
	{% block top_main_bar %}
		
	{% endblock %}

	{% block base_contentt %}
		
		<!-- Meet the Team -->
    <h2 class="margin-vert-20">Meet the Team</h2>
    <div class="row margin-bottom-30">
        <!-- Person Details -->
        <div class="col-sm-3 person-details">
            <figure>
                <img src="./assets/img/theteam/image1.jpg" alt="image1">
                <figcaption>
                    <h3>April
                        <small>- Programmer</small>
                    </h3>
                    <span>Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper.</span>
                </figcaption>
                <ul class="list-inline person-details-icons">
                    <li>
                        <a href="#">
                            <i class="icon social_twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon social_linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon social_facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon social_dribbble"></i>
                        </a>
                    </li>
                </ul>
            </figure>
        </div>
        <!-- //Portfolio Item// -->
        <!-- Person Details -->
        <div class="col-sm-3 person-details">
            <figure>
                <img src="./assets/img/theteam/image2.jpg" alt="image2">
                <figcaption>
                    <h3>Simon
                        <small>- Sales Assistant</small>
                    </h3>
                    <span>Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper.</span>
                </figcaption>
                <ul class="list-inline person-details-icons">
                    <li>
                        <a href="#">
                            <i class="icon social_twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon social_linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon social_facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon social_dribbble"></i>
                        </a>
                    </li>
                    
                </ul>
            </figure>
        </div>
        <!-- //Portfolio Item// -->
        <!-- Person Details -->
        <div class="col-sm-3 person-details">
            <figure>
                <img src="./assets/img/theteam/image3.jpg" alt="image3">
                <figcaption>
                    <h3>Victoria
                        <small>- Customer Support</small>
                    </h3>
                    <span>Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper.</span>
                </figcaption>
                <ul class="list-inline person-details-icons">
                   <li>
                        <a href="#">
                            <i class="icon social_twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon social_linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon social_facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon social_dribbble"></i>
                        </a>
                    </li>
                </ul>
            </figure>
        </div>
        <!-- //Portfolio Item// -->
        <!-- Person Details -->
        <div class="col-sm-3 person-details">
            <figure>
                <img src="./assets/img/theteam/image4.jpg" alt="image4">
                <figcaption>
                    <h3>Chris
                        <small>- Graphic Design</small>
                    </h3>
                    <span>Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper.</span>
                </figcaption>
                <ul class="list-inline person-details-icons">
                    <li>
                        <a href="#">
                            <i class="icon social_twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon social_linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon social_facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon social_dribbble"></i>
                        </a>
                    </li>
                </ul>
            </figure>
        </div>
        <!-- //Portfolio Item// -->
    </div>

{% endblock %}