        <script src="https://www.youtube.com/iframe_api"></script>
		<script src="/TicketSystem/public/assets/js/jquery.min.js"></script>
        <script src="/TicketSystem/public/assets/js/jquery.plugin.min.js"></script>
        <script src="/TicketSystem/public/assets/js/bootstrap.min.js"></script>
        <script src="/TicketSystem/public/assets/js/jquery.flexslider-min.js"></script>
        <script src="/TicketSystem/public/assets/js/smooth-scroll.min.js"></script>
        <script src="/TicketSystem/public/assets/js/skrollr.min.js"></script>
        <script src="/TicketSystem/public/assets/js/spectragram.min.js"></script>
        <script src="/TicketSystem/public/assets/js/scrollReveal.min.js"></script>
        <script src="/TicketSystem/public/assets/js/isotope.min.js"></script>
        <script src="/TicketSystem/public/assets/js/twitterFetcher_v10_min.js"></script>
        <script src="/TicketSystem/public/assets/js/lightbox.min.js"></script>
        <script src="/TicketSystem/public/assets/js/jquery.countdown.min.js"></script>
        <script src="/TicketSystem/public/assets/js/scripts.js"></script>
    </body>
</html>
		