{% include "common/header.twig" %}


<div class="loader">
	<div class="spinner">
	  <div class="double-bounce1"></div>
	  <div class="double-bounce2"></div>
	</div>
</div>
		
<div class="nav-container">
	<nav class="top-bar overlay-bar">
		<div class="container">
		
			<div class="row utility-menu">
				<div class="col-sm-12">
					<div class="utility-inner clearfix">
						<span class="alt-font"><i class="icon icon_pin"></i> 300 Collins St Melbourne</span>
						<span class="alt-font"><i class="icon icon_mail"></i> hello@ticketsystem.net</span>
					
						<div class="pull-right">
							<a href="login" class="btn btn-primary btn-white btn-xs">Login</a>
							<a href="#" class="btn btn-primary btn-filled btn-xs">Signup</a>
							<a href="#" class="language"><img alt="English" src="./assets/img/english.png"></a>
							<a href="#" class="language"><img alt="English" src="./assets/img/denmark.png"></a>
						</div>
					</div>
				</div>
			</div>
		
		
			<div class="row nav-menu">
				<div class="col-md-2 col-sm-3 columns">
					<img class="logo logo-light" alt="Logo" src="./assets/img/logo-light-sys.png">
					<img class="logo logo-dark" alt="Logo" src="./assets/img/logo-dark.png">
				</div>
			
				<div class="col-md-10 col-sm-9 columns">
					<ul class="menu">
						<li><a href="#">Single Link</a></li>
						<li class="has-dropdown"><a href="#">Dropdown</a>
							<ul class="subnav">
								<li><a href="#">Example</a></li>
								<li><a href="#">Example</a></li>
								<li><a href="#">Example</a></li>
								<li><a href="#">Example</a></li>
							</ul>
						</li>
						<li class="has-dropdown"><a href="#">Half Width</a>
							<div class="subnav subnav-halfwidth">
								<div class="col-md-6">
									<h6 class="alt-font">Subnav Title</h6>
									<ul class="subnav">
										<li><a href="#">Example</a></li>
										<li><a href="#">Example</a></li>
										<li><a href="#">Example</a></li>
										<li><a href="#">Example</a></li>
									</ul>	
								</div>
								
								<div class="col-md-6">
									<h6 class="alt-font">Subnav Title</h6>
									<ul class="subnav">
										<li><a href="#">Example</a></li>
										<li><a href="#">Example</a></li>
										<li><a href="#">Example</a></li>
										<li><a href="#">Example</a></li>
									</ul>	
								</div>
							</div>
						</li>
						<li class="has-dropdown"><a href="#">Fullwidth</a>
							<div class="subnav subnav-fullwidth">
								<div class="col-md-3">
									<h6 class="alt-font">Subnav Title</h6>
									<ul class="subnav">
										<li><a href="#">Example</a></li>
										<li><a href="#">Example</a></li>
										<li><a href="#">Example</a></li>
										<li><a href="#">Example</a></li>
									</ul>	
								</div>
								
								<div class="col-md-3">
									<h6 class="alt-font">Subnav Title</h6>
									<ul class="subnav">
										<li><a href="#">Example</a></li>
										<li><a href="#">Example</a></li>
										<li><a href="#">Example</a></li>
										<li><a href="#">Example</a></li>
									</ul>	
								</div>
								
								<div class="col-md-3">
									<h6 class="alt-font">Subnav Title</h6>
									<ul class="subnav">
										<li><a href="#">Example</a></li>
										<li><a href="#">Example</a></li>
										<li><a href="#">Example</a></li>
										<li><a href="#">Example</a></li>
									</ul>	
								</div>
								
								<div class="col-md-3">
									<h6 class="alt-font">Subnav Title</h6>
									<ul class="subnav">
										<li><a href="#">Example</a></li>
										<li><a href="#">Example</a></li>
										<li><a href="#">Example</a></li>
										<li><a href="#">Example</a></li>
									</ul>	
								</div>
							</div>
						</li>
					</ul>

					<ul class="social-icons text-right">
						<li>
							<a href="#">
								<i class="icon social_twitter"></i>
							</a>
						</li>
					
						<li>
							<a href="#">
								<i class="icon social_facebook"></i>
							</a>
						</li>
					
						<li>
							<a href="#">
								<i class="icon social_instagram"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			
			<div class="mobile-toggle">
				<i class="icon icon_menu"></i>
			</div>
			
		</div>
	</nav>

	

</div>

<div class="main-container">
	<header class="fullscreen-element no-pad centered-text">
		<div class="background-image-holder parallax-background overlay">
			<img class="background-image" alt="Background Image" src="assets/img/hero8.jpg">
		</div>
		
		<div class="container align-vertical">
			<div class="row">
				<div class="col-md-12 text-center">
					<span class="text-white alt-font">Say Hello To Ticket System</span>
					<h1 class="text-white">The biggest, baddest new template on the block <br>has arrived, build yours now.</h1>
					<p class="lead text-white">Tons of elements, Consistent style, Variant builder included.</p>
					<a target="_blank" href="http://www.mediumra.re/pivot/variant/builder.html" class="btn btn-primary btn-white">Customize Ticket System</a>
					<a href="#" class="btn btn-primary btn-filled">Purchase Ticket System</a>
				</div>
			</div>
		</div>
	</header>
</div>

<div class="footer-container">

	

	
			
	

	<footer class="details">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<img alt="logo" class="logo" src="assets/img/logo-dark.png">
					<p>
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
					</p>
				</div>
				
				<div class="col-sm-4">
					<h1>Contact</h1>
					<p>
						hello@pivot.net<br>
						+61 3827 9284<br>
						<br>
						Suite 2A Humbolt Plaza<br>
						300 Collins St<br>
						Melbourne 3000
					</p>
				</div>
				
				<div class="col-sm-4">
					<h1>Social Profiles</h1>
					<ul class="social-icons">
						<li>
							<a href="#">
								<i class="icon social_twitter"></i>
							</a>
						</li>
						
						<li>
							<a href="#">
								<i class="icon social_facebook"></i>
							</a>
						</li>
						
						<li>
							<a href="#">
								<i class="icon social_instagram"></i>
							</a>
						</li>
						
						<li>
							<a href="#">
								<i class="icon social_dribbble"></i>
							</a>
						</li>
						
						<li>
							<a href="#">
								<i class="icon social_tumblr"></i>
							</a>
						</li>
						
						<li>
							<a href="#">
								<i class="icon social_pinterest"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12">
					<span class="sub">© Copright 2014 <a href="#">Medium Rare</a> - All Rights Reserved</span>
				</div>
			</div>
			
		</div>
	</footer>
</div>
		
{% include "common/footer.twig" %}		